=link_to remove_seens_path(id: seen.movie_id), method: :post, remote: true do
  %button.btn.btn-sm.btn-dark.btn-icon-label{:type => "button"}
    %span.btn-inner--icon
      %ion-icon{:name => "checkmark", :size => "large"}
    %span.btn-inner--text Seen
